* {
    color: #ffffff;
    font-family: "Roboto";
}

.heading {
    color: blaCK;
    font-size: 30px;
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    background-color: rgb(255, 230, 0);
}

.container1 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: grey;
    margin-bottom: 20px;
    text-align: center;
}

.container2 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: green;
    text-align: center;

}

button {
    color: blue;
    background-color: aqua;
    border: 3px solid block;
    border-radius: 20px;
    cursor: pointer;

}

img {
    border: 3px solid;
    border-radius: 20px;
    cursor: pointer;
}

video {
    border-radius: 50px;
    text-align: center;
    padding-left: 50%;
    padding-top: 50px;
    
}
